<!DOCTYPE html>
<html>

<head>
  <title>HOME</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../../bower_components\bootstrap\dist\css\bootstrap.css" />
</head>

<body>
  {{getNav}}
  <h1>Моя Первая лаба!</h1>
  
</body>
<html>